# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/dist
/.env

# Java / Maven
backend/target/
backend/.mvn/
backend/.settings/
**/.classpath
**/.project
**/.settings
**/.factorypath

# IDEs
.vscode/
.idea/
*.iml

# Docker
**/docker-compose.override.yml
